body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: black;
}

canvas {
    border: 2px solid white;
    width: 90vw;
    height: 90vh;
}

